<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">CatanSZTE</div>
            </div>
            <ul *ngIf=!isStart class="nav navbar-nav elol">
                <button id="headerbutton" (click)=gameHelp()>{{buttonText}}</button>
            </ul>
        </div>
    </nav>
</header>
<my-help-component *ngIf=jatekSzabalyok></my-help-component>
<my-main-component *ngIf=!jatekSzabalyok (click)=getStart()></my-main-component>
