<div class="board">
    <button type="button" *ngIf="!isStartGame && !startPlayerNames" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Másik pályát választok</button>
    <button type="button" class="btn btn-info btn-lg second" *ngIf="!isStartGame && !startPlayerNames" (click)=startSetPlayersName()>Nem, maradok ennél</button>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Válassz az alábbi lehetőségek közül</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)=freshPage()>Választok egy másikat</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)=startSetPlayersName()>Induljon a játék</button>
                </div>
            </div>
        </div>
    </div>
    <my-tile-component (updated)="updated($event)"></my-tile-component>
</div>
<div class="other" *ngIf="!isStartGame">
    <div class="center">
        <p><span class="glyphicon glyphicon-hand-left"></span>Köszi, hogy először választottál pályát!</p>
        <div *ngIf="startPlayerNames">
            <p style="text-align: left;">Hányan fogtok játszani? 3-an vagy 4-en? </p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Játékosok száma
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a (click)=playerNumber(3)>3-an</a></li>
                    <li><a (click)=playerNumber(4)>4-en</a></li>
                </ul>
            </div>
            <div *ngIf="isHaromJatekos || isNegyJatekos">
                <form>
                    <div class="form-group">
                        <p style="color: {{firstColor}}">1. jatekos neve: {{firstPlayerName.value}}</p>
                        <input [disabled]="firstPlayerClick" type="text" #firstPlayerName (change)="myModel=$event" [ngModel]="mymodel">
                        <div class="colorButtons" *ngFor="#color of colors">
                            <button [disabled]="!firstPlayerName.value" type="button" *ngIf="!firstPlayerClick" class="btn btn-default" style="background-color: {{color.name}}" (click)="colorSelect(color.name, firstPlayerName.value, 1)">
                                {{color.text}}
                            </button>
                        </div>
                        <p style="color: {{secondColor}}">2. jatekos neve: {{secondPlayerName.value}}</p>
                        <input [disabled]="secondPlayerClick" type="text" #secondPlayerName (change)="myModel=$event" [ngModel]="mymodel">
                        <div class="colorButtons" *ngFor="#color of colors">
                            <button [disabled]="!secondPlayerName.value" type="button" *ngIf="!secondPlayerClick" class="btn btn-default" style="background-color: {{color.name}}" (click)="colorSelect(color.name,secondPlayerName.value, 2)">
                                {{color.text}}
                            </button>
                        </div>
                        <p style="color: {{thirdColor}}">3. jatekos neve: {{thirdPlayerName.value}}</p>
                        <input [disabled]="thirdPlayerClick" type="text" #thirdPlayerName (change)="myModel=$event" [ngModel]="mymodel">
                        <div class="colorButtons" *ngFor="#color of colors">
                            <button [disabled]="!thirdPlayerName.value" type="button" *ngIf="!thirdPlayerClick" class="btn btn-default" style="background-color: {{color.name}}" (click)="colorSelect(color.name, thirdPlayerName.value, 3)">
                                {{color.text}}
                            </button>
                        </div>
                        <div *ngIf="isNegyJatekos">
                            <p style="color: {{fourColor}}">4. jatekos neve: {{fourPlayerName.value}}</p>
                            <input [disabled]="fourPlayerClick" type="text" #fourPlayerName (change)="myModel=$event" [ngModel]="mymodel">
                            <div class="colorButtons" *ngFor="#color of colors">
                                <button [disabled]="!fourPlayerName.value" type="button" *ngIf="!fourPlayerClick" class="btn btn-default" style="background-color: {{color.name}}" (click)="colorSelect(color.name, fourPlayerName.value, 4)" style="">
                                    {{color.text}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <button *ngIf="isValidStartClick" type="submit" class="btn btn-danger" (click)=startGame()>Indulhat a játék!!!</button>
            </div>
        </div>
    </div>
</div>
<my-game-component *ngIf="isStartGame" [players]="players" [gamerNumber]="gamerNumber" [boardData]="boardData"></my-game-component>
