<div class="containerBoard">
    <p>A választott pálya:</p>
    <!--1.sor-->
    <div class="hex hex-gap" style="background-image: url(images/water.jpg);">
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div *ngFor="#water of waters">
        <div class="hex" style="background-image: url(images/{{water}}.jpg);">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
    </div>
    <!--2.sor-->
    <div class="hex" style="background-image: url(images/water.jpg);">
        <a href="#"></a>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div *ngFor="#name of names_1">
        <div class="hex" style="background-image: url(images/{{name}}.jpg);">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
            <div class="numbers">{{getRandomNumber()}}</div>
        </div>
    </div>
    <div class="hex" style="background-image: url(images/water.jpg);">
        <div *ngIf="townShow">
            <img src="images/town.jpg" alt="Falu View" class="image_lT">
        </div>
        <div *ngIf="cityShow">
            <img src="images/city.jpg" alt="Falu View" class="image_lT">
        </div>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <!--3.sor-->
    <div *ngFor="#name of names_0">
        <div class="hex hex-gap" style="background-image: url(images/{{name}}.jpg);">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
            <div class="numbers">{{getRandomNumber()}}</div>
        </div>
    </div>
    <div *ngFor="#name of names_2">
        <div class="hex" style="background-image: url(images/{{name}}.jpg);">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
            <div class="numbers">{{getRandomNumber()}}</div>
        </div>
    </div>
    <!--4.sor-->
    <div class="hex" style="background-image: url(images/water.jpg);">
        <a href="#"></a>
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div *ngFor="#name of names_3">
        <div class="hex" style="background-image: url(images/{{name}}.jpg);">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
            <div class="numbers">{{getRandomNumber()}}</div>
        </div>
    </div>
    <div class="hex" style="background-image: url(images/water.jpg);">
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <!--5.sor-->
    <div class="hex hex-gap" style="background-image: url(images/water.jpg);">
        <div class="corner-1"></div>
        <div class="corner-2"></div>
    </div>
    <div *ngFor="#water of waters">
        <div class="hex" style="background-image: url(images/{{water}}.jpg);">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
    </div>
</div>
