body {
	height: 1000px;
	font-family:arial;
	font-size:12px;
	background: #f6f7f0;
	margin-top: 6em;
	margin-left: 2em;
	padding: 0px;	
}

#headerbutton{
	margin-top: 0.5em;
    background: inherit;
    color: gray;
    border-style: none;
    font-size: 1.5em;
}




