.board {
    position: absolute;
    width: 680px;
    height: 800px;
}

.other {
    position: absolute;
    margin-left: 700px;
    width: 42%;
    height: 800px;
}

div.center {
    padding-top: 4em;
}

p {
    text-align: center;
    font-family: "Comic Sans MS", sans-serif, "Times New Roman", Times, serif;
    color: blue;
    font-size: 2em;
    font-weight: bold;
}

button.btn.btn-info.btn-lg.second {
    float: right;
}

.glyphicon.glyphicon-hand-left {
    margin-right: 1em;
}

button.btn.btn-default {
    float: center;
}

.colorButtons {
    display: inline;
}

input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[disabled] {
    background-color: #D3D3D3;
}
