<div class="gameBody">
    <div class="containerBoard">
        <p>A választott pálya:</p>
        <!--1.sor-->
        <div class="hex hex-gap" style="background-color: inherit;">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <!--2.sor-->
        <div class="hex" style="background-color: inherit;">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <!--1,2,3,4 gombok-->
            <select *ngFor=" #b of buttons_1" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 1)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_1">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor12}};" type="button" data-toggle="dropdown">
                    <span class="caret" style="color: {{roadColor12}};"></span></button>
                <ul class="dropdown-menu vertical">
                    <li (click)="roadSelected(currentPlayer,12)">Építés 12</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor14}};" type="button" data-toggle="dropdown">
                    <span class="caret" style="color: {{roadColor14}};"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,14)">Építés 14</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_2" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 2)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_2">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor56}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical">
                    <li (click)="roadSelected(currentPlayer,56)">Építés 56</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor58}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,58)">Építés 58</li>
                </ul>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor54}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,54)">Építés 54</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <!--9,10,11-->
            <select *ngFor=" #b of buttons_3" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 3)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_3">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor910}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical disabled">
                    <li (click)="roadSelected(currentPlayer,910)">Építés 910</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor98}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,98)">Építés 98</li>
                </ul>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="lastStreets_0">
                <div class="dropdown">
                    <button class="btn dropdown-toggle vertical" style="background: {{roadColor1124}};" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu minus120">
                        <li (click)="roadSelected(currentPlayer,1124)">Építés 1124</li>
                    </ul>
                </div>
                <!--jobbra néz-->
                <div class="dropdown">
                    <button class="btn dropdown-toggle minus120" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                </div>
                <!--balra néz-->
                <div class="dropdown">
                    <button class="btn dropdown-toggle plusz120" style="background: {{roadColor1110}};" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu plusz120">
                        <li (click)="roadSelected(currentPlayer,1110)">Építés 1110</li>
                    </ul>
                </div>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <!--3.sor-->
        <div class="hex hex-gap" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_4" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 4)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_4">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor1213}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical">
                    <li (click)="roadSelected(currentPlayer,1213)">Építés 1213</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor122}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,122)">Építés 122</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_5" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 5)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_5">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor315}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical">
                    <li (click)="roadSelected(currentPlayer,315)">Építés 315</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor36}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,36)">Építés 36</li>
                </ul>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor32}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,32)">Építés 32</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_6" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 6)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_6">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor717}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical">
                    <li (click)="roadSelected(currentPlayer,717)">Építés 717</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor710}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,710)">Építés 710</li>
                </ul>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor76}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,76)">Építés 76</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <!--4.sor-->
        <div class="hex" style="background-color: inherit;">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_7" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 7)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_7">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor1419}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical disabled">
                    <li (click)="roadSelected(currentPlayer,1419)">Építés 1419</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor1415}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,1415)">Építés 1415</li>
                </ul>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor1413}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,1413)">Építés 1413</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_8" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 8)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_8">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor1621}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical disabled">
                    <li (click)="roadSelected(currentPlayer,1621)">Építés 1621</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu minus120">
                    <li (click)="roadSelected(currentPlayer,1617)">Építés 1617</li>
                </ul>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor1615}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,1615)">Építés 1615</li>
                </ul>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <div class="hex" style="background-color: inherit;">
            <select *ngFor=" #b of buttons_9" class={{b.class}} style="background-color: {{b.color}}" (click)="setButton($event.target.value, b.id, currentPlayer, 9)">
                <option *ngFor=" #e of b.elements">
                    <div *ngIf=false>{{b.id}}</div>{{e.element}}
                </option>
            </select>
            <div *ngFor=" #b of buttons_9">
                <div [hidden]="false" class={{b.class}} id="build" style="
                    background: {{b.image}};   
                    border-color: {{b.imageBorder}};  
                    border-style: {{b.imageBorderStyle}};
                    z-index: 1;"></div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle vertical" style="background: {{roadColor1823}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu vertical disabled">
                    <li (click)="roadSelected(currentPlayer,1823)">Építés 1823</li>
                </ul>
            </div>
            <!--jobbra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle minus120" style="background: {{roadColor1824}};" type="button" data-toggle="dropdown">
                    <span class="caret" style="background: {{roadColor1824}};"></span></button>
                <ul class="dropdown-menu vertical disabled" id="road_1824">
                    <li (click)="roadSelected(currentPlayer,1824)">Építés 1824</li>
                </ul>
            </div>
            <!--balra néz-->
            <div class="dropdown">
                <button class="btn dropdown-toggle plusz120" style="background: {{roadColor1817}};" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                <ul class="dropdown-menu plusz120">
                    <li (click)="roadSelected(currentPlayer,1817)">Építés 1817</li>
                </ul>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="lastStreets_1">
                <div class="dropdown">
                    <button class="btn dropdown-toggle vertical" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                </div>
                <!--jobbra néz-->
                <div class="dropdown">
                    <button class="btn dropdown-toggle minus120" style="background: {{roadColor2223}};" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu minus120">
                        <li (click)="roadSelected(currentPlayer,2223)">Építés 2223</li>
                    </ul>
                </div>
                <!--balra néz-->
                <div class="dropdown">
                    <button class="btn dropdown-toggle plusz120" style="background: {{roadColor2221}};" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu plusz120">
                        <li (click)="roadSelected(currentPlayer,2221)">Építés 2221</li>
                    </ul>
                </div>
            </div>
            <!-- út kirajzolása-->
            <!--lefele néz-->
            <div class="lastStreets_2">
                <div class="dropdown">
                    <button class="btn dropdown-toggle vertical" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                </div>
                <!--jobbra néz-->
                <div class="dropdown">
                    <button class="btn dropdown-toggle minus120" style="background: {{roadColor2021}};" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu minus120">
                        <li (click)="roadSelected(currentPlayer,2021)">Építés 2021</li>
                    </ul>
                </div>
                <!--balra néz-->
                <div class="dropdown">
                    <button class="btn dropdown-toggle plusz120" style="background: {{roadColor2019}};" type="button" data-toggle="dropdown">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu plusz120">
                        <li (click)="roadSelected(currentPlayer,2019)">Építés 2019</li>
                    </ul>
                </div>
            </div>
            <div *ngFor="#water of waters">
                <div class="hex" style="background-color: black;">
                    <div class="corner-1"></div>
                    <div class="corner-2"></div>
                </div>
            </div>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
        <!--5.sor-->
        <div class="hex hex-gap" style="background-color: inherit;">
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>
    </div>
    <div class="playerColumn">
        <div class="container">
            <div class="text" style="color: red">Nyertes: {{winner}}</div>
            <div *ngFor="#player of players; #c = index">
                <div class="row" id="selectedRow" [style.background-color]="getStyle(c)">
                    <div class="playerData">
                        <div class="square" style="background-color: {{player.color}};"></div>
                        <label class="text">{{player.name}} </label>
                    </div>
                    <div class="gameData">
                        <div class="displayFlex">
                            <!--játékos szine-->
                            <div *ngFor="#tilesColor of tilesColors; #i = index">
                                <div class="tilesC" style="background-image: url(images/{{tilesColor}}.jpg); "></div>
                            </div>
                        </div>
                        <div class="displayFlex">
                            <div class="displayFlex" *ngFor="#resource of player.resources">
                                <div class="tilesCNumber"> {{resource.value}}</div>
                            </div>
                            <button [disabled]="!isDisabled" type="button" class="btn btn-default btn-sm" (click)=addTiles(currentPlayer);>
                                <span class="glyphicon glyphicon-plus"></span> Plus
                            </button>
                        </div>
                        <div class="displayFlex">
                            <div class="text">
                                Falu: {{player.towns}} Varos: {{player.cities}} Pontszama: {{player.points}}
                            </div>
                            <div class="diceClass" [hidden]="!isDisabled">
                                <div class="text">Dobj!</div>
                                <button [disabled]="!isDisabled" class="dice" type="submit" (click)=selectedDice(currentPlayer);>
                                    <div class="diceNumber">{{currentDiceNumber}}</div>
                                </button>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-md" style="margin-left : 75%; margin-top: 20px;" [disabled]="!isDisabled" type="submit" (click)=nextGamer(c)> Mehet tovább</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
