 <h1>Játékszabály</h1>
      
			<h2>Pontozás:</h2>
  <p>A város 2 pont, a település (falu) 1 pont. Összesen minimum 6 pontot kell elérni, aki először eléri, az nyer </p>
<h2>Kártyák - nyersanyagok:</h2>
<p>A Catanban 5 különböző tájegység található: 
fa
birka
búza
tégla
szikla</p>
<h2>Pálya</h2>
<p>Alapvetően egy 7 területből álló sziget van megadva, körbevéve vízzel. Random kártyafajtákkal és a rajtuk található számokkal. (a számok az egyes kártyafajtákhoz tartoznak)
Egy tájegység alakja 6 szögű poligon. </p>
<h2>Játékosok</h2>
<p>Mivel mind a tesztelés alapjai, mind pedig a követelménymenedzsment órán csapatban kell dolgozni, így a játékosok száma 3 vagy 4 fő lehet.</p>
<h2>Fontos szabályok</h2>
<p>A faluval az adott szám alatt lévő nyersanyagkártyával csak 1 db nyersanyagot kap a játékos. Ha már várossá fejlesztett a faluját, akkor összesen kettőt.
Két település között két útnak minimum lennie kell.</p>
<h2>Játék menete</h2>
<p>Feladat a sziget beépítése.</p>
<p>A játékot egy úttal és egy faluval lehet kezdeni, így mindenkinek egy pontja van kezdetben.
 A dobókocka kattintással működik, addig random számokat ad 2 és 6 között. A pontok megszerzése érdekében a játékosok új utakat és településeket építenek, valamint a településeket városokká bővítik. A város építéséhez, először falunak kell lennie, vagyis csakis a falut lehet várossá fejleszteni. Addig tart a játék, amíg valaki eléri a minimum 5 pontot.</p>
<h3>Nyersanyagszerzés</h3>
<p>A játékosok előzőleg az adatok megadási sorrendjével megegyező irányban követik egymást. Az éppen soron lévő játékos dob a kockával és az adott szám alatt lévő nyersanyagkártyát kapja a tulajdonos.</p>

<p>Pl.: valamelyik játékos 3-est dob, akkor az a játékos kap nyersanyagot, akinek a 3-as tájegységen van települése
Továbbá a felhasználónak a játék menete alatt, lehetősége van 3-szor plusz kártyákat kérnie. Ha megteszi azt, minden nyersanyagkártyához hozzáadódik plusz egy nyersanyagkártya.</p>
<h3>Település, út építése</h3>
<p>Csak szabad kereszteződésekre lehet települést építeni, és csakis akkor ha vezet oda saját út.</p>
<p>Csakis a soron következő játékos építkezhet. A nyersanyag kombinációknak megfelelően, maximum annyi, amennyi épülete adott a játék elején (3 db város, 5 db falu és 15 db út áll rendelkezésre játékosonként)</p>

<h4>Út</h4>
<p>Szükséges nyersanyag: tégla és fa</p>
<p>Az új út mindig már a megépült saját úthoz, faluhoz vagy városhoz vezet. 
Minden útvonalon csak egy útszakaszt lehet építeni (nem lehetnek közvetlenül egymás mellett lévő utak)
Az út építéséért nem jár külön pont</p>


<h4>Település</h4>
<p>Szükséges nyersanyag: tégla, fa, birka és búza
minden település után egy határos nyersanyagkártya jár, ha kidobja valamelyik játékos az adott számot (város esetén 2 db nyersanyag jár)</p>
<p>Összességében egy pontot ér a falu</p>
<h4>Város</h4>
<p>Szükséges nyersanyag: három kő és két búza</p>
<p>Várost csak egy település (falu) felfejlesztésével lehet létrehozni!
Ha az aktuális játékos falut fejleszt, akkor a már lerakott falut újra feltudja használni település építésére
A város tulajdonosa kétszer annyi nyersanyagot kap a határos területek után</p>
<p>Összességében 2 pontot ér a város</p>
<h2>Játék vége</h2>
<p>A játéknak akkor lesz vége, ha valaki eléri a 5 pontot vagy annál többet. A győzelem bejelentését a szoftver végzi </p>

        